body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  background-image: url("../src/BG.jpg"); /* Background image */
  background-size: cover;
  background-position: center;
}

.container {
  width: auto;
  height: 100%; /* Maintain height relative to screen height */
  overflow: hidden;
  opacity: 0;
  /* background-color: #f0f0f0; */
  /*aspect-ratio: 1/1; /* Maintain 1:1 ratio  */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Preserve aspect ratio */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none; /* Hide by default */
}

.floating-buttons {
  position: absolute;
  top: 2vh; /* Adjust top position relative to screen height */
  right: 2vh; /* Adjust right position relative to screen height */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



/* Button group container styles */
.button-group-container {
  width: 50vw;
  height: 50vw;
  max-width: 2000px;
  max-height: 2000px;
  min-width: 100px;
  min-height: 100px;
  background-image: url('../src/menu-box.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-top: 15%;
  padding-left: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  overflow: hidden;
  z-index: 1000; /* Ensure it's above other elements */
}


/* Adjust button-group-container for better interaction */
.button-group-container {
  position: relative; /* Adjust as needed */
}
.menu-background {
  position: fixed; /* Fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}


/* Style for the toggle button */
.toggle-button {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust space between image and label */
  font-size: 1.5vw;
}
.toggle-button.logo {
  width: 30vw; /* Adjust size of the image */
  height: auto;
}
.toggle-button.switch {
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add smooth transition */
  width: auto; /* Adjust size of the image */
  height: 5vw;
  margin-right: 10px;
  cursor: pointer;
}

.toggle-button.switch.off {
  opacity: 0;
}

.toggle-button.switch.on {
  opacity: 1;
  transform: scale(1.1); /* Optional: slight scale effect */
}



.middle-bottom-div {
  position: absolute;
  bottom: 10px; /* Adjust this value for desired spacing */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}










.collapse-button img {
  width: 5vh; /* Adjust width relative to screen height */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
}
.collapse-button img:hover {
  opacity: 0.8; /* Slightly fade on hover for a hover effect */
}
.collapse-button button {
  padding: 1.5vh 3vh; /* Padding relative to screen height */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5vh; /* Border radius relative to screen height */
  cursor: pointer;
  font-size: 2vh; /* Font size relative to screen height */
}
.collapse-button button:hover {
  background-color: #0056b3;
}
/* Ensure collapse-button hides when button-group-container is visible */
.hidden {
  display: none;
}


